/* */
body {
    background-color: coral;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    /*background-color: burlywood;*/
    height: 5rem;
    width: 100%;
    z-index: 350;
    border: 1px solid #ff0000;

}

footer {
    margin-top: 4rem;
    position: relative;
    height: 5rem;
    width: 100%;
    /*z-index: 340;*/
    border: 1px solid #ff0000;
}

nav {

    color: aqua;
}


.show {
    position: relative;
    top: 4px;
    /*opacity: 0.25;*/
    /*transition: opacity 0.25s ease, visibility 0.25s ease;*/
    background-color: #F0EEEE;

}

.nav-link.opacityFunc {
    opacity: 0;
    /*visibility: visible;*/
}

.main-body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro  {
    width: 100%;
    /*height: 550px;*/
    display: block;
    align-items: center;
    justify-content: center;
}

.inner-body {
    position: relative;
    width: 100%;
    top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blueviolet;
}

.welcome-user {
    margin-bottom: 3rem;
    width: 100%;
    height: auto;
    border: 1px solid royalblue;
    display: block;
}

.whoIsGarbo {
    background-color: fuchsia;
    width: 100%;

}

.buttons-backdrop {
    width: 100%;
    /*background-color: chartreuse;*/
}

.g-3 {
    /*margin-top: 7em;*/
    /*padding: 20px;*/
    /*height: 25em;*/
    width: 100%;
    border-radius: 7px;
    /*display: block;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-wrap: nowrap;*/
    /*background-color: crimson;*/
    /*border-bottom:1px solid crimson;*/
}

.login-user {
    width: 100%;
    border: 1px solid greenyellow;
    display: none;
    align-items: center;
    justify-content: center;
}

.login-form {
    height: 375px;
    max-width: 100%;
    padding: 0.5em;
    margin: 0.5em;
    display: none;
    /*place-items: center;*/
    align-items: center;
    justify-content: center;
    border: 1px solid rebeccapurple;
}


.new-user {
    max-width: 100%;
    border: 1px solid fuchsia;
    display: none;
    align-items: center;
    justify-content: center;
}


.signUp-form {
    max-width: 100%;
    padding: 0.5em;
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid sandybrown;
}

.valid-feedback {
    margin-left: 0.5em;
}

.invalid-feedback {
    margin-left: 0.5em;
}

.create-user-button, .current-user-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-user-button > button, .create-user-button > button {
    padding: 1em;
    width: 75%;
    border-radius: 7px;
    transition: .5s ease-out;
    background-color: #23f2ee;

}

.current-user-button > button:hover, .create-user-button > button:hover {
    background-color: #28c5c2;
    transition: .25s ease-in;
    scale: 1.1;
}

.botSearch {
    max-width: 550px;
    margin: 1em;
    display: none;
    /*place-items: center;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    border: 1px solid aquamarine;


}


h1, h2 {
    /*margin: 0 auto;*/
    text-align: center;
}

img {
    margin: 0 auto;
}



input {
    margin: 0.5em;
    height: 3em;
    /*max-width: em;*/
    border: none;
    border-radius: 5px;
}


#email {
    border-bottom:1px solid #e52666;
}

.errorMade {
    display: none;
    width: 100%;
    text-align: center;
    color: #ff0000;

}

.errorMadeAgain {
    display: none;
    width: 100%;
    text-align: center;
    color: #ff0000;

}

#keyword {
    border-bottom:1px solid #e52666;
}

label {
    margin-bottom: -25px;
    width: 100%;
    /*display: flex;*/
    /*position: relative;*/
    /*left: -12em;*/
}

.date-range {
    display: flex;
    gap: 1em; /* space between the two fields */
    justify-content: space-between;
    margin-bottom: 1em;
}

.date-field {
    display: flex;
    flex-direction: column;
    flex: 1; /* makes each field expand evenly */
}

#fdate {
    border-bottom:1px solid #e52666;
    background-color: #e5e4e2;
}

.errorHappened {
    display: none;
    width: 100%;
    text-align: center;
    color: #ff0000;
}

#tdate {
    border-bottom:1px solid #e52666;
    background-color: #e5e4e2;
}

.errorHappenedAgain {
    display: none;
    width: 100%;
    text-align: center;
    color: #ff0000;
}

.button_form1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-btn {
    display: block;
    max-width: 200px;
    border-radius: 5px;
    border: outset;
    background-color: #ffe4c4;
}